[Unit]
After=NetworkManager.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/pi/hiwonder-toolbox/remote.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
