[Unit]
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/home/pi/hiwonder-toolbox/wifi.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
